; Eternal Terminal (et.rs) server configuration
[Networking]
port = 2022
# bind_ip = 0.0.0.0
# backlog = 128

[Debug]
verbose = 0
silent = 0
logsize = 20971520
# et.rs never collects telemetry.
# logdirectory = /tmp
